<div>
	<h3>Attachments:</h3>
	<ul id="ic_log_attachments_holder">
	{{ # attachments }}
		<li>{{ _id }}</li>
	{{ / attachments }}
	</ul>
</div>

<div>
	<h3>Form Data</h3>
	<ul id="ic_log_form_data_holder">
	{{ # j3m.data.userAppendedData }}
		{{ # associatedForms }}
			{{ # answer_kvp }}
				<li><span class="ic_label">{{ key }}</span>: {{ value }}</li>
			{{ / answer_kvp }}
		{{ / associatedForms }}
	{{ / j3m.data.userAppendedData }}
	</ul>
</div>

<h3>J3M Data</h3>
<div id="ic_j3m_holder">Loading...</div>
<script type="text/javascript">
	if($("#ic_log_attachments_holder").children('li').length == 0) {
		$($("#ic_log_attachments_holder").parent()).remove();
	}
</script>