<h3>Google Drive setup</h3>
<p class="uv_mandatory">
	Client Key (.p12): 
	<input 
		name="informacam.repository.google_drive.key_p12" 
		type="file" class="uv_mandatory"
		uv_error_msg="File cannot be empty!" />
	<span class="uv_error_msg"></span>
</p>
<p>
	Client secrets (.json): 
	<input 
		name="informacam.repository.google_drive.secrets_json" 
		type="file" class="uv_mandatory"
		uv_error_msg="File cannot be empty!" />
	<span class="uv_error_msg"></span>
</p>
<p>
	Client ID (email): 
	<input 
		name="informacam.ictd.repository.google_drive.asset_root" 
		type="text" class="uv_mandatory"
		uv_error_msg="Email cannot be blank!" />
	<span class="uv_error_msg"></span>
</p>