<h3>Google Drive setup</h3>
<p>
	Client Key (.p12 - <i><b>Service Account Only</b></i>): 
	<input 
		name="informacam.repository.google_drive.key_p12" 
		type="file" />
</p>
<p>
	Client secrets (.json - <i><b>Service Account Only</b></i>): 
	<input 
		name="informacam.repository.google_drive.secrets_json" 
		type="file"  />
</p>
<p>
	Client ID (email): 
	<input 
		name="informacam.ictd.repository.google_drive.asset_id"
		type="text" class="uv_mandatory"
		uv_error_msg="Email cannot be blank!" />
	<span class="uv_error_msg"></span>
</p>