<div>
	<div class="ic_header"><span>Info</span></div>
	<div id="ic_info_holder">
		<div class="ic_pod">
			<p>Date Created: <span class="uv_translate uv_date">{{ j3m.genealogy.dateCreated }}</p>
		</div>
		<div class="ic_pod">
			<p>Device Type: {{ j3m.data.exif.make }} {{ j3m.data.exif.model }}</p>
		</div>
		<div class="ic_pod">
			<p>Original Size: {{ j3m.data.exif.width }} x {{ j3m.data.exif.height }}</p>
		</div>
		<div class="ic_pod">
			<p>Temperature: <span id="j3m_temperature"></span></p>
		</div>
		<div class="ic_pod">
			<p>Altitude: <span id="j3m_altitude"></span></p>
		</div>
		<div class="ic_pod">
			<p>Location: {{ j3m.data.exif.location }}</p>
		</div>
		<div class="ic_pod">
			<p>Bearing: <span id="j3m_bearing"></span></p>
		</div>
		<div class="ic_pod">
			<p>Captured by: {{ j3m.intent.alias }} ({{ j3m.intent.pgpKeyFingerprint }})</p>
		</div>
	</div>
</div>
<div>
	<div id="ic_j3m_info_holder"></div>
	<div class="ic_toggle ic_header"><a href="#j3m">J3M</a></div>
</div>
<div>
	<div class="ic_header"><span>Export J3M as...</span></div>
	<div id="ic_export_holder">
		<ul>
			<li><a href="#json">json</a></li>
			<li><a href="#csv">csv</a></li>
			<li><a href="#tsv">tsv</a></li>
			<li><a href="#html">html</a></li>
		</ul>
	</div>
</div>