<table class="tsv_export">
	<thead>
		<tr>
			<th><input type="checkbox">J3M ID</th>
			<th><input type="checkbox">Date Created</th>
			<th><input type="checkbox">Date Added</th>
			<th><input type="checkbox">J3M Verified</th>
			<th><input type="checkbox">Media Verified</th>
			<th><input type="checkbox">Upload Attempts</th>
		</tr>
	</thead>
	<tbody>
	{{ #. }}
		<tr>
			<td>{{j3m_id}}</td>
			<td>{{dateCreatedFormatted}}</td>
			<td>{{dateAddedFormatted}}</td>
			<td>{{j3m_verified}}</td>
			<td>{{media_verified}}</td>
			<td>{{upload_attempts}}</td>
		</tr>
	{{ /. }}
	</tbody>
</table>