#header {
	position:relative;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height:8%;
}

#header #ic_navigation {
	position:relative;
	top: -2em;
	float:right;
	right:2%;
}

#header #ic_navigation ul {
	list-style-type: none;
}

#header #ic_navigation ul li {
	float:left;
	margin:0 0 0 0.6em;
}

#header #ic_header_popup {
	position:relative;
	clear:both;
	top:0;
	float:right;
	border:1px solid #000;
	width:47%;
	min-height:10em;
}

#ic_media_holder {
	width:90%;
	height:40em;
	display:inline-table;
}

#ic_media_holder img {
	height:inherit;
	width:auto;
}

#ic_main_cluster_holder {
	width:80%;
	height:500px;
}

.ic_pod img.ic_icon {
	height:1em;
	width:auto;
}

#ic_j3m_info_holder {
	margin:2em 0;
}

#ic_j3m_info_holder div .ic_j3m_info_vizualization {
	height: 14em;
	width: 100%;
}

.uv_viz .ic_x_axis path, .uv_viz .ic_y_axis path {
	stroke: #ccc;
	fill: none;
	shape-rendering: crispEdges;
}

.ic_button {
	border:1px solid #ccc;
	padding:0.2em;
	margin:0.1em;
}

.ic_active {
	border:1px solid #ccc;
}

div.ic_module {
	position:relative;
	width:100%;
	min-height:2em;
	clear:both;
}

#ic_asset_view_holder {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	border:1px solid #000;
}

#ic_collection_asset_list span {
	padding:0.2em 0.5em;
	margin:0.1em 0.35em;
	border:1px solid #000;
}

#ic_asset_panel {
	width:30%;
	height:100%;
	border-right:1px solid #000;
}

#ic_asset_browser_holder li.ic_in_annex_false {
	background-color:#ccc;
}