#ic_import_dropzone_holder, #uv_import_dropzone, #ic_main_dropzone_holder {
/*	position:fixed !important;
	top:0 !important;
	left:0 !important;
	right:0 !important;
	bottom:0 !important;
*/
	position:absolute;
	z-index:100;
}

#ic_import_dropzone_holder, #uv_import_dropzone.ic_dz_landing {
	width:698px !important;
	height:298px !important;
}

#uv_import_dropzone.dz-drag-hover {
	transition:background-color 1s;
	-webkit-transition:background-color 1s;
	background-color:#CCF;
}

#header {
	display:none;
}

.dz-success-mark, .dz-error-mark, .dz-filename, .dz-size {
	display:none;
}

.dz-progress {
	width:20%;
	height:20px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:1px solid #999;
}

.dz-upload {
	height:20px;
	background:#DDD;
	position:absolute;
}

.ic_upload_instructions {
	text-align:center;
	margin-top:102px;
	position:absolute;
	left:0;
	right:0;
}

.dz-details img {
	margin:auto;
	position:absolute;
	top:-140px;
	left:0;
	bottom:0;
	right:0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#ic_import_dropzone_holder, #uv_import_dropzone {
		width:auto !important;
		height:auto !important;
		left:20px;
		right:20px;
		bottom:20px;
		top:0;
		display:none;
	}
}
