<div id="tabs">
            
    <ul class="controls inline clearfix">
        <li class="active"><a href="#file">File</a></li>
        <li><a href="#url">URL</a></li>
        <li><a href="#search">Search</a></li>
    </ul>
    
    <div id="file" class="block active">
        <div class="tab_content">
			<h2 id="ic_upload_instructions_desktop" class="ic_upload_instructions">Drop an image, video, or j3m log<br>or click here to upload</h2>
			<h2 id="ic_upload_instructions_smartphone" class="ic_upload_instructions">Tap here to upload an image or video</h2>
			<div id="ic_import_dropzone_holder">
			<input type="file" name="uv_import" />
			</div>
		</div>
    </div><!--/end .file-->
    
    <div id="url" class="block">
        <div class="tab_content">
        	<h2 id="ic_upload_instructions_desktop" class="ic_upload_instructions">Submit an online resource for verification</h2>
			<h2 id="ic_upload_instructions_smartphone" class="ic_upload_instructions">Submit an online resource for verification</h2>
			
			<input class="ui-menu" type="text" name="url" id="ic_search_url" size="50" placeholder="http://www.example.com/image.png">
			<a class="uv_button" id="ic_url_search_button">Submit URL</a>
			
			<fieldset>
	        <span class="errormessage"></span>
	    	</fieldset>
		</div>
    </div><!--/end .search-->
    
    <div id="search" class="block clearfix">
        <div class="tab_content">
	    	<div id="search_content"></div>
	    </div>
    </div><!--/end .search-->
    
</div><!--/end #tabs-->
