<div id="ic_asset_panel">
	<div id="ic_asset_navigation">
		<div id="ic_asset_search"></div>
		<div id="ic_asset_collection_mode_holder">
			<span class="ic_button">
				<input type="checkbox" id="ic_asset_collection_toggle" /> Group
			</span>
			<a class="ic_button" onclick="document_browser.selectAllVisible();">Select All</a>
			<a class="ic_button" onclick="document_browser.clearSelected();">Unselect All</a>
		</div>
	</div>
	<div id="ic_asset_browser_holder"></div>
</div>

<div id="ic_viewer_panel"></div>