<h2 id="ic_upload_instructions">Drop an image, video, or j3m log</h2>
<div id="ic_import_dropzone_holder">
	<input type="file" name="uv_import" />
	<input type="hidden" name="x_token" value="" />
</div>

<script type="text/javascript">
	discoverDropzones({url : "/import/"}, "#ic_import_dropzone_holder",
		function(file, message) {
			// onSuccess
//			console.log(message);
			location.href = '/submission/' + message.data._id + '/';
		},
		function(file, message) {
			// onError
			console.error(message);
			messagetext = '';
			if (typeof message !== null && typeof message === 'object') {
				if (message.result == 403) {
					messagetext = "It's not you, it's us. We're looking into the problem. Please try again later. (" + message.result + ")";
					this.disable();
				}
			} else {
				messagetext = message;
			}
			return file.previewElement.querySelector("[data-dz-errormessage]").textContent = messagetext;
		});
</script>