<div id="ic_main_logo">
	<h1>Camera-V</h1>
</div>
<ul id="ic_doc_opts">
	<a id="export_tsv">Export TSV</a>
	<a id="unveil_document">Unveil</a>
</ul>

<div id="ic_submission_view_holder">
	<div id="ic_tsv_download_view_holder">
		<div id="ic_tsv_headerdata">
		</div>
		<div id="ic_tsv_timestampdata">
		</div>
		<a class="export">download</a>
	</div>
	<div id="ic_progressNotifierViewHolder">
		<div id="progressCounter"><span id="tasksComplete"></span> of <span id="tasksTotal"></span></div>
	</div>

	<div id="ic_header_view_holder">
		<div id="ic_j3mheader_view_holder">
		</div>
		<div id="ic_download_j3m">
		</div>
		<div id="ic_documentwrapper_view_holder">
		</div>
		<div id="ic_appended_user_data">
		</div>
	</div>
		
	<div id="ic_gps_coords_view_holder" class="graph_holder">
		<div id="mapOverview"></div>
		<div id="mapZoom"></div>
	</div>

	<div id="ic_linechart_view_holder" class="graph_holder">
		<div id="graph_controls">
		</div><!--#graph_controls-->
	</div>
</div>