<div id="ic_submission_view_holder">
	<div id="ic_j3mheader_view_holder">
	</div>

	<div id="ic_lightMeterValue_view_holder" class="graph_holder">
	</div>

	<div id="ic_gps_bearing_view_holder" class="graph_holder">
	</div>

	<div id="ic_gps_coords_view_holder" class="graph_holder">
	</div>

	<div id="ic_accelerometer_view_holder" class="graph_holder">
	</div>

	<div id="ic_gps_accuracy_view_holder" class="graph_holder">
	</div>

	<div id="ic_pressureHPAOrMBAR_view_holder" class="graph_holder">
	</div>

	<div id="ic_pressureAltitude_view_holder" class="graph_holder">
	</div>
</div>