<div id="ic_submission_view_holder">
	<div id="ic_progressNotifierViewHolder">
		<div id="progressCounter"><span id="tasksComplete"></span> of <span id="tasksTotal"></span></div>
	</div>

	<div id="ic_j3mheader_view_holder">
	</div>
	
	<div id="ic_gps_coords_view_holder" class="graph_holder">
		<div id="mapOverview"></div>
		<div id="mapZoom"></div>
	</div>

	<div id="ic_linechart_view_holder" class="graph_holder">
		<div id="graph_controls">
			<input type="checkbox" checked="checked" id="pressureAltitude_check"> <label for="pressureAltitude_check" class="pressureAltitude">pressureAltitude</label> 
			<input type="checkbox" checked="checked" id="lightMeter_check"> <label for="lightMeter_check" class="lightMeter">lightMeter</label> 
			<input type="checkbox" checked="checked" id="GPSAccuracy_check"> <label for="GPSAccuracy_check" class="GPSAccuracy">GPSAccuracy</label> 
			<input type="checkbox" checked="checked" id="GPSBearing_check"> <label for="GPSBearing_check" class="GPSBearing">GPSBearing</label> 
			<input type="checkbox" checked="checked" id="Accelerometer_check"> <label for="Accelerometer_check" class="Accelerometer">Accelerometer</label> 
			<input type="checkbox" checked="checked" id="pressureHPAOrMBAR_check"> <label for="pressureHPAOrMBAR_check" class="pressureHPAOrMBAR">pressureHPAOrMBAR</label> 
		</div><!--#graph_controls-->
	</div>
</div>