<h2>InformaCam setup!</h2>
<div id="uv_annex_values_holder" class="uv_form_elements">
	<p class="uv_mandatory">
		Organization Name: 
		<input
			name="informacam.ictd.organizationName" 
			class="uv_mandatory" type="text"
			uv_error_msg="Name cannot be blank!" />
		<span class="uv_error_msg"></span>
	</p>
	<p>
		Organization Details: 
		<input name="informacam.ictd.organizationDetails" type="text" />
	</p>
	<p>Add Repository:</p>
	<div id="ic_repository_holder">
		<!-- informacam.ictd.repository -->
		<table>
			<tr>
				<td>
					<select id="ic_sync_chooser">
						<option value="null">--------------</option>
						<option value="google_drive">Google Drive</option>
						<option value="globaleaks">Globaleaks</option>
					</select>
				</td>
				<td>
					<div id="ic_sync_cred_holder"></div>
				</td>
			</tr>
		</table>
	</div>
	<p>Add forms:</p>
	<div id="ic_form_dropzone_holder"><input rel="5" name="informacam.form" type="file" /></div>
</div>