<h2>InformaCam setup!</h2>
<div id="uv_annex_values_holder" class="uv_form_elements">
	<p class="uv_mandatory">
		Your User Name: 
		<input
			name="informacam.config.admin.username" 
			class="uv_mandatory" type="text"
			uv_error_msg="Name cannot be blank!" />
		<span class="uv_error_msg"></span>
	</p>
	<p class="uv_mandatory">
		Organization Name: 
		<input
			name="informacam.ictd.organizationName" 
			class="uv_mandatory" type="text"
			uv_error_msg="Name cannot be blank!" />
		<span class="uv_error_msg"></span>
	</p>
	<p>
		Organization Details: 
		<input name="informacam.ictd.organizationDetails" type="text" />
	</p>
	<p class="uv_mandatory">
		GPG Private Key: 
		<input 
			name="informacam.gpg.priv_key.file" 
			type="file" class="uv_mandatory"
			uv_error_msg="File cannot be empty!" />
		<span class="uv_error_msg"></span>
	</p>
	<p class="uv_mandatory">
		Password: 
		<input 
			name="informacam.gpg.priv_key.password" 
			class="uv_mandatory" type="password"
			uv_error_msg="Invalid password!" />
		<span class="uv_error_msg"></span>
	</p>
	<p class="uv_mandatory uv_confirm">
		Confirm Password: 
		<input 
			name="informacam.gpg.priv_key.password.confirm" 
			class="uv_confirm uv_mandatory" type="password"
			uv_error_msg="Password must match!" />
		<span class="uv_error_msg"></span>
	</p>
</div>